.home{
 background-image: url(../home/images/background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.ac1{
 background-image: url(../ac1/images/background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.ac2{
 background-image: url(../ac2/images/background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.ac3{
 background-image: url(../ac3/images/background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.ac4{
    background-image: url(../ac4/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ac_unity{
    background-image: url(../ac_unity/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ac_syndicate{
    background-image: url(../ac_syndicate/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.records{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
  text-align: left;
  color: red;
  font-family: font-assassins;
  font-size: 25px; 
  font-weight: bold;
 }
  
img#assassin-symbol{
 height: 20%;
 width: 20%;        
}
  
img#home-button{
 height: 3%;
 width: 3%;
}


img#apple{
 height: 10%;
 width: 10%;
 float: left;
}

img#borgia{
 height: 5%;
 width: 10%;
 float: left;
}

img#achilles{
 height: 5%;
 width: 10%;
 float: left;
}

img#altair{
 position: absolute;
 top:30%;
 left: 0%; 
 height: 60%;
 width: 15%;
}

img#ezio{
 position:absolute; 
 top:30%; 
 left: 38%;
 width: 20%;
 height: 60%;
}

img#connor{
 position: absolute; 
 top:30%; 
 left:82%;
 width: 15%; 
 height: 60%;
}

ol{
 color: red;
 font-family: font-assassins;
 font-size: 25px;
}

.menu a{
 list-style: none;
 font-size: 20px;
 color: red;   
}
    
@font-face{
 font-family: font-assassins;
 src : url(../assassin-font/assassins.ttf);
}
                
body{
 background-color: black;  
 font-family: font-assassins;
 background-size: 100%,100%;
}

h1{
 font-size: 50px;
 text-align: center;
 font-family: font-assassins;
 color: red;   
}

h2{
 font-family: font-assassins;
 color: red;
 font-size: 30px;
}
.blood{
 color:white;
 text-shadow:
 4px 4px 1px #300000,
 4px 6px 1px #400000,
 4px 8px 1px #500000,
 4px 10px 1px #600000,
 4px 12px 1px #700000,
 4px 14px 1px #800000,
 4px 16px 1px #900000,
 4px 18px 1px #A00000,
 4px 20px 1px #B00000,
 4px 22px 1px #C00000,
 4px 24px 1px #D00000,
 4px 26px 1px #E00000,
 4px 28px 1px #F00000,
 4px 30px 1px #FA0000,
 4px 32px 1px #FB0000,
 4px 34px 1px #FC0000,
 4px 36px 1px #FD0000,
 4px 38px 1px #FE0000,
 4px 40px 2px #FF0000;
}

.table1{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th{
    background-color: #4CAF50;
    color: white;
}

.out{
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.syndicate{
 font-family: font-assassins;
 color: white;
 font-size: 30px;
}